* {
    margin: 0;
    padding: 0;
}

/* a {
    text-decoration: none;
} */

body {
    background: var(--020-a-18, #020A18);
    font-family: 'Open Sans', sans-serif;
}

.center {
    /* padding: 0 calc(50% - 573px); */
    padding-left: calc(50% - 573px);
    padding-right: calc(50% - 573px);

}

.top {
    padding-bottom: 99px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__link {
    padding: 39px 20px;
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color:#FFFFFF;
}

.top__content {
    margin: 160px 0 197px 0;
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 109px;
}

.size__main__logo {
    width: 414px;
    height: 415px;
    flex-shrink: 0;
}

.title {
    color: var(--3-a-68-b-8, #3A68B8);
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.style__title {
    display: flex;
    width: 265px;
    flex-direction: column;
    flex-shrink: 0;
}

.subtitle {
    color: var(--ffffff, #FFF);
    font-family: 'Open Sans', sans-serif;
    font-size: 55px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%;
    margin-bottom: 40px;
    display: flex;
    width: 604px;
    height: 142px;
    flex-direction: column;
    flex-shrink: 0;
}

.text {
    color: var(--ffffff, #FFF);
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    opacity: 0.7;
    display: flex;
    width: 558px;
    flex-direction: column;
    flex-shrink: 0;
}

.top__buttons {
    gap: 20px;
    margin-top: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

.button {
    color: var(--ffffff, #FFF);
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.left__button {
    border-radius: 5px;
    background: var(--3-a-68-b-8, #3A68B8);
    display: inline-flex;
    padding: 15px 30px;
    align-items: flex-start;
}

.right__button {
    border-radius: 5px;
    background: var(--3-a-68-b-8, #3A68B8);
    display: inline-flex;
    padding: 15px 30px;
    align-items: flex-start;
    gap: 10px;
}

.top__logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 31px;
    flex-wrap: wrap;
}

.content{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 363px);
    justify-content: center;
    padding-top: 264px;
    padding-bottom: 243px;
}

.item{
    border-radius: 10px;
    background: #132035;
    padding: 30px;
    display: grid;
    justify-items: center;
    gap: 30px;
}

.heading{
    color: var(--ffffff, #FFF);
    text-align: center;
    font-family: Open Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
}

.item__text{
    color: var(--ffffff, #FFF);
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 25.6px */
}

.item__big{
    grid-column: span 2;
    grid-row: span 2;
    gap:60px;
}

@media (max-width:1024px) {

    .center {
        padding-left: calc(50% - 512px);
        padding-right: calc(50% - 512px);
    
    }
 
    .subtitle {
        font-size: 48px;
    }

    .title {
        font-size: 16px;
    }

    .top__content {
        margin: 160px 0 197px 0;
        display: grid;
        justify-items: center;
        gap: 109px;
    }

    .top__logos {
        margin: auto;
        max-width: 650px;
        gap: 32px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .top {
        padding-bottom: 120px;
    }

    .content {
        grid-template-columns: repeat(1,362px);
        gap: 30px;
    }

    .item__big {
        grid-column: span 1;
        grid-row: span 1;
        gap: 30px;
    }

    .item__big img {
        width: 98px;
    }
}


@media (max-width: 768px) {
    .center {
        padding-left: calc(50% - 376px);
        padding-right: calc(50% - 376px);
    
    }
    
    .subtitle {
        font-size: 48px;
    }

    .title {
        font-size: 16px;
    }

    .top__content {
        margin: 160px 0 197px 0;
        display: grid;
        justify-items: center;
        gap: 109px;
    }

    .top__logos {
        margin: auto;
        max-width: 550px;
        gap: 32px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .top {
        padding-bottom: 120px;
    }

    .item__big {
        grid-column: span 1;
        grid-row: span 1;
    }

}